*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
  text-align: center;
  margin-top: 100px;
}

input[type="text"] {
  height: 50px;
  width: 500px;
  background: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: thin;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}


input[type="submit"] {
  height: 50px;
  width: 100px;
  background:black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: thin;
  border-radius: 5px;
}

.display {
  text-align: center;
}